* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1e1e1e;
    margin: 0;
    flex-direction: column;
    padding: 20px 0;
}

h2 {
    color: #fff;
    margin-bottom: 10px;
}

.editor_container {
    display: flex;
    background: #282c34;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
    flex-shrink: 0; /* Impede que o editor encolha */
}

.line_numbers {
    padding: 10px;
    color: #858585;
    background: #2c313a;
    text-align: right;
    min-width: 40px;
    user-select: none;
    font-size: 16px;
}

.code_editor {
    flex: 1;
    padding: 10px;
    color: #ffffff;
    background: #282c34;
    outline: none;
    white-space: pre;
    font-family: monospace;
    font-size: 16px;
}

pre {
    margin: 0;
}

#table_container, #table_container_sintatica {
    width: 80%;
    margin-top: 20px;
    overflow-x: auto;
}

table {
    color: #fff;
    border-spacing: 15px;
    background-color: #2c313a;
    border-radius: 5px;
    margin: 0 auto;
}

td{
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input[type="file"], #dowload_btn, #lexico_btn, button {
    display: none;
}

.custom_btn {
    margin: 10px;
    background-color: #2c313a;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.custom_btn:hover {
    background-color: #3a3f47;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
}

.error_line {
    background-color: rgba(255, 66, 66, 0.425);
}

span {
    text-decoration: none;
}

.reserved_word{
    color: #e7c1d9;
}

.number{
    color: #afdfb7;
}

.variable{
    color: #a7bfec;
}

.comment{
    color: #0bd136;
}

.operator{
    color:white;
}

.error{ 
    color: #ce4b4b;
    text-decoration: underline;
    text-decoration-color: #ce4b4b;
    text-decoration-style: wavy;
}

